.navbar-brand{
    max-width: 50%;
}

.imglogo{
    max-width: 100%;
}

.border-bootom{
    border-bottom: 3px solid #d6d5d5 !important;
}

@media (min-width: 768px){
    .navbar-brand{
        max-width: 15%;
    }
}
 .imageUser{
    width: 100px;
 }

input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
